.movie_search_wrap {
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;

  .search_input {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .1);
    width: 500px;
    height: 50px;
    padding-right: 90px;
    padding-left: 20px;
    font-size: 18px;
  }

  .on {
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    z-index: 10;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-fill-mode: forwards;

    .search_input {
      width: 100%;
    }

    .search_button {
      border-radius: none;
    }
  }

  .search_button {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .keyword_area {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .movie_list_area {
    margin-top: 50px;
    .movie_info {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid white;
      p {
        width: calc(100% - 100px);
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }

  .detail_movie {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

}

@keyframes slidein {
  from {
    top: -60px;
  }

  to {
    top: 0;
  }
}